# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

NODE_ENV=development
HOST=0.0.0.0
PORT=4000
LOG_LEVEL=info

CORS_ORIGINS=http://localhost:3001
CORS_METHODS_LIST=GET,HEAD,POST,PUT,PATCH,DELETE
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/file_manager?schema=public
JWT_ACCESS_TTL_MINUTES=60
JWT_SECRET=awesome_jwt_secret_key

#minio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET=file-manager
MINIO_USE_SSL=false